<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>sourceSnippet</title>

	<!-- Bootstrap core CSS -->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="/static/css/all.css" rel="stylesheet">
	{% block css %} {% endblock %}

	<!-- Just for debugging purposes. Don't actually copy this line! -->
	<!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
</head>

<body style="">

	<!-- Fixed navbar -->
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{% url 'snippet_world' %}">sourceSnippet</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="{% if page == 'snippet_world' %}active{% endif %}"><a href="{% url 'snippet_world' %}">Snippet World</a></li>
					<li class="dropdown {% if page == 'snippet_creator' or page == 'my_snippets' %}active{% endif %}">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Snippet Manager<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class="{% if page == 'my_snippets' %}active{% endif %}"><a href="{% url 'my_snippets' %}">My Snippets</a></li>
							<li class="{% if page == 'snippet_creator' %}active{% endif %}"><a href="{% url 'snippet_creator' %}">Snippet Creator</a></li>
							<li><a href="#">Project Creator</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					{% if user.is_authenticated %}
						<li><a>Hello, {{ user.first_name }}</a></li>
						<li><a href="{% url 'signout' %}">Sign out</a></li>
					{% else %}
						<li class="{% if page == 'signin' %}active{% endif %}"><a href="{% url 'signin' %}">Sign in</a></li>
						<li class="{% if page == 'signup' %}active{% endif %}"><a href="">Sign up</a></li>
					{% endif %}
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>

	{% block content %}
	{% endblock %}

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/static/js/jquery-1.10.2.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	{% block js %} {% endblock %}

</body>
</html>