{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/my_snippets.css">
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		{% for snippet in snippets %}
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<textarea class="txtSnippet">test</textarea>
				<div class="caption">
					<h3>Thumbnail label</h3>
					<p>...</p>
					<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}

{% block js %}
{% endblock %}