{% extends 'base.html' %}

{% block css %}
<link href="/static/css/signin.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
	<form class="form-signin" role="form" action="signin" method="post">{% csrf_token %}
		<h2 class="form-signin-heading">Please sign in</h2>
		{% if loginError %}
			{% if loginError == 1 %}
				<ul class="errorlist"><li>Login Failed! Please check your username and password</li></ul>
			{% elif loginError == 2 %}
				<ul class="errorList"><li>Login Falied! The account is disabled</li></ul>
			{% endif %}
		{% endif %}
		<input type="text" class="form-control" name="email" placeholder="Email address" required="" autofocus="" value="{% if form.email.value %}{{form.email.value}}{% endif %}">
		{{ form.email.errors }}
		<input type="password" class="form-control" name="password" placeholder="Password" required="" value="{% if form.email.value %}{{form.password.value}}{% endif %}">
		{{ form.password.errors }}
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	</form>
</div>
{% endblock %}

{% block js %}
<script src="/static/js/signin.js"></script>
{% endblock %}