{% extends 'base.html' %}

{% block css %}
<link href="/static/css/bootstrap-switch.min.css" rel="stylesheet">
<link href="/static/css/snippet_creator.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
	<fieldset>
		<legend>Snippet Creator</legend>
		<form class="form-horizontal" role="form" action="/snippet_creator" method="post">{% csrf_token %}
			<div class="form-group">
				<label for="inputName" class="col-sm-2 control-label">Name</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" name="name" placeholder="Name of the snippet" required="" autofocus="" value="">
					{{ form.name.errors }}
				</div>
			</div>
			<div class="form-group">
				<label for="inputLanguage" class="col-sm-2 control-label">Language</label>
				<div class="col-sm-3">
					<select class="form-control" name="language">
						{% for lang in langs %}
							<option value="{{ lang.id }}">{{ lang.name }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="inputProject" class="col-sm-2 control-label">Project</label>
				<div class="col-sm-3">
					<select class="form-control" name="project">
						{% for project in projects %}
							<option value="{{ project.id }}">{{ project.name }}</option>
						{% endfor %}
					</select>
					<a href="">Project Creator</a>
				</div>
			</div>
			<div class="form-group">
				<label for="checkPublic" class="col-sm-2 control-label">Public</label>
				<div class="col-sm-3">
					<input type="checkbox" checked data-on="warning" data-off="danger" name="public">
				</div>
			</div>
			<div class="form-group">
				<label for="checkImprovement" class="col-sm-2 control-label">Improvement</label>
				<div class="col-sm-3">
					<input type="checkbox" checked data-on="warning" data-off="danger" name="improvement">
				</div>
			</div>
			<div class="form-group">
				<label for="inputDescription" class="col-sm-2 control-label">Description</label>
				<div class="col-sm-6">
					<textarea class="form-control" name="description"></textarea>
					{{ form.description.errors }}
				</div>
			</div>
			<div class="form-group">
				<label for="textSnippet" class="col-sm-2 control-label">Snippet</label>
				<div class="col-sm-10">
					<textarea id="textSnippet" style="height: 400px; width: 100%;" name="snippet"></textarea>
					{{ form.snippet.errors }}
				</div>
			</div>	
			<div class="form-group">
				<label for="btnCreate" class="col-sm-2 control-label"></label>
				<div class="col-sm-10">
					<button type="submit" class="btn btn-primary">Create</button>
					<button class="btn btn-primary">Cancel</button>
				</div>
			</div>			
		</form>
	</fieldset>
</div>
{% endblock %}

{% block js %}
	<script src="/static/edit_area/edit_area_full.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap-switch.min.js"></script>
	<script type="text/javascript" src="/static/js/snippet_creator.js"></script>
{% endblock %}